{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true,
        "serviceworker": true
    },
    "extends": "eslint:recommended",
    "globals": {
        "__webpack_modules__": true,
        "__webpack_require__": true
    },
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        }
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "arrow-body-style": ["error", "as-needed"],
        "arrow-parens": ["error", "as-needed"],
        "arrow-spacing": ["error", { "before": true, "after": true }],
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        "react/react-in-jsx-scope": 2
    }
}